/*
  Controls the styling for all viewports with a (minimum-width: 76.5em (1224px)).
*/

/* Desktops and laptops ----------- */

@media only screen and (min-width: 76.5em) {
    .header {
        padding-top: .25em;
    }
    .content {
        height: 80%;
    }
    .footer {
        height: 10%;
        padding: 1em 0 1em 2em;
        font-size: 1em;
    }
    /* Inside Content Div */
    .search-row {
        height: 10%;
    }
    .map-row {
        height: 90%;
    }
    .results-row {
        height: 90%;
        padding: 2em 2em 2em 1em;
    }
    /* Inside Searh-Row Div */
    input {
        width: 35%;
        font-size: 2em;
    }
    /* Inside Map-Row Div */
    .map-canvas {
        padding-bottom: 75%;
        margin: 2em 1em 2em 2em;
    }
}
