/*
  These Bootstrap Media Queries handle all viewports and orientations.
*/

/* Handles landscaper orientation on mobile */
@media(min-width:34em) {
    /* Webpage Styling */
    html, body, .wrapper {
        height: 100%;
        overflow: hidden;
    }
    .header {
        height: 10%;
        min-height: 70px;
    }
    .content {
        height: 90%;
    }
    .footer {
      display: none;
    }

    /* Inside Content Div */
    .search-row {
        height: 10%;
        padding-top: .1em;
    }
    .map_results-container {
      height: 90%;
      padding: 1em;
      margin: 0;
    }
    /* Inside Map-Results Div*/
    .map-row {
        height: 90%;
        max-width: 50%;
        padding: 1em;
        padding-right: 0.5em;
    }
    .results-row {
        height: 90%;
        max-width: 50%;
        padding: 1em;
        padding-left: 0.5em;
    }
    /* Inside Searh-Row Div */
    input {
        width: 50%;
        height: 1.5em;
        margin-top: .25em;
    }
    /* Inside Map-Row Div */
    .map-canvas {
        padding-bottom: 75%;
    }
}

/* Tablets (portrait) */
@media(min-width:48em) {
    .header {
        padding-top: .25em;
    }
    .content {
        height: 80%;
    }
    .footer {
        height: 10%;
        padding: 1.25em 0 1em 2em;
        display: block;
    }
    /* Inside Content Div */
    .search-row {
        height: 8%;
        padding-top: .75em;
    }
    .map_results-container {
      height: 100%;
      padding: 0;
      margin: 0;
    }
    /* Inside Map-Results Div*/
    .map-row {
        height: 45%;
        max-width: 100%;
        padding: 0;
    }
    .results-row {
        height: 45%;
        padding: 0;
        max-width: 100%;
    }
    /* Inside Searh-Row Div */
    input {
        width: 45%;
        height: 1.75em;
        font-size: 1.5em;
    }
    /* Inside Map-Row Div */
    .map-canvas {
        padding-bottom: 45%;
        margin: 0 auto;
    }
}

/* Tablets (landscape) */
@media(min-width:62em) {
    .header {
        padding-top: .25em;
    }
    .content {
        height: 80%;
    }
    .footer {
        height: 10%;
        padding: .25em 0 1em 2em;
        display: block;
    }
    /* Inside Content Div */
    .search-row {
        height: 10%;
        padding-top: .5em
    }
    .map_results-container {
      height: 100%;
      padding: 0;
      margin: 0;
    }
    /* Inside Map-Results Div*/
    .map-row {
        height: 90%;
        max-width: 50%;
    }
    .results-row {
        height: 90%;
        padding: 2em 2em 2em 1em;
        max-width: 50%;
    }
    /* Inside Searh-Row Div */
    input {
        width: 40%;
    }
    /* Inside Map-Row Div */
    .map-canvas {
        padding-bottom: 95%;
        margin: 2em 1em 2em 2em;
    }
}

/* Desktop */
@media(min-width:75em) {
    .header {
        padding-top: .25em;
    }
    .content {
        height: 80%;
    }
    .footer {
        height: 10%;
        padding: 1em 0 1em 2em;
        font-size: 1em;
    }
    /* Inside Content Div */
    .search-row {
        height: 10%;
        padding-top: .75em;
    }
    .map_results-container {
      height: 100%;
      padding: 0;
      margin: 0;
    }
    /* Inside Map-Results Div*/
    .map-row {
        height: 90%;
    }
    .results-row {
        height: 90%;
        padding: 2em 2em 2em 1em;
    }
    /* Inside Searh-Row Div */
    input {
        width: 35%;
        font-size: 2em;
    }
    /* Inside Map-Row Div */
    .map-canvas {
        padding-bottom: 73%;
        margin: 2em 1em 2em 2em;
    }
}
