/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    .map-row {
        height: 100%;
    }
    #map-canvas {
        height: 700px;
    }
    .results-row {
        height: 100%;
    }
    input {
        width: 25%;
    }
    .footer {
      position: fixed;
    }
}
