/* Baseline CSS*/

html, body {
    margin: 0 auto;
    border: 0;
    padding: 0;
    height: 100%;
    /*background-color: navy;*/
}

.wrapper {
    position: relative;
}

.header {
    font-size: 4em;
    color: #E8EFFF;
    text-align: center;
    width: 100%;
    padding: .25em;
    background-color: #4E5B7F;
    height: 10%;
}

.row {
    height: 80%;
    background-color: #98B4FF;
}

.search-row {
    text-align: center;
    background-color: #98B4FF;
}

input {
    width: 60%;
    height: 30px;
    border-radius: .75em;
    text-align: center;
    margin: 1em 0em 1em 0em;
}

.map-row {
    margin: 0 auto;
    text-align: center;
    display: table;
}

.map-canvas {
    width: 100%;
    height: 400px;
}

.results-row {
    margin: 0 auto;
    height: 50%;
    display: table;
    background-color: #98B4FF;
}

.footer {
    width: 100%;
    padding: 1em;
    background-color: #4E5B7F;
    background-position: 0% 0%;
    color: white;
    font-size: .85em;
    position: relative;
    bottom: 0;
    right: 0;
    height: 10%;
}

.template {
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.hidden {
    display: none;
}

.contact {
    list-style: none;
    font-size: 1em;
    margin-left: -3.5em;
    margin-bottom: .25em;
    /*height: 100%;
  position: relative;*/
}

.panel-group .panel+.panel {
    margin-top: 0;
}


/*@font-face {
    font-family: "My Custom Font";
    src: url("../assets/fonts/Freakshow.ttf") format("truetype");
}

.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}

.text {

}*/
