/* Baseline CSS*/

html
{
  margin: 0 auto;
  border: 0;
  padding: 0;
  height: 100%;
}
body
{
  margin: 1em;
  height: 100%;
}
.wrapper
{
  margin: auto;
  height: 100%;
}
.header
{
  font-size: 4em;
  /*margin-bottom: 1em;*/
  text-align: center;
}
.container
{
  height: 100%;
}
.search-row
{
  text-align: center;
}
.map-row
{
  margin: 0 auto;
  height: 50%;

  text-align: center;
  display: table;
}
.map-canvas
{
  width: 400px;
  height: 400px;
}
.results-row
{
  margin: 0 auto;
  height: 50%;
  display: table;
}
.template
{
  margin: 0 auto;
  width: 400px;
  height: 400px;
}
.hidden
{
  display: none;
}
