/* Baseline CSS*/

html
{
  margin: 0 auto;
  border: 0;
  padding: 0;
}
body
{
  margin: 1em;
  border: 0.25em solid black;
  padding: 1em;
}
.wrapper
{
  margin: auto;
}
.container
{
  margin: auto;
}
.header
{
  text-align: center;
}
.input-container
{
  text-align: center;
}
.map-row
{
  margin: 0 auto;
  text-align: center;
}
.map-container
{
  text-align: center;
  height: 200px;
  width: 200px;
}
